.out-card1{
    font-family: 'Beiruti', serif;
    color: blue;
}
.out-card2{
    font-family: 'Oleo Script', serif;
    color: darksalmon;
}
.in-card1{
    font-family: 'Beiruti', serif;
    width: 500px;
    color: greenyellow;
}
.in-card2{
    font-family: 'Beiruti', serif;
    width: 500px;
    color: firebrick;
    font-size: 25px;
}
.in-card3{
    font-family: 'Beiruti', serif;
    width: 600px;
    color: springgreen;
}
.in-card3 span{
    color: gold;
}

body{
    align-items: center;
    text-align: center;
}
.card{
    text-align: center;
    margin: auto;
    width: 32.8%;
}